{% load static %}

{% block content %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Beli In | Set up Profile</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/add-customer-style.css' %}">
    </head>
    <body>
        <div class="instruction" style="text-align: center; margin-top: 15px;">
            <h3>Complete Your Account First</h3>
        </div>
        <form action="" class="form-control" method="POST" enctype="multipart/form-data" style="width: 710px; margin-left: 320px; margin-top: 20px;">
            {% csrf_token %}

            <div class="profile-information1">        
                <label for="id_first_name">Profile Picture:</label>
                <div class="form1">
                    {{ profile_form.image }}
                </div>
            </div>
            <div class="profile-information0">        
                <label for="id_owner_id">Username:</label>
                <div class="form0">
                    {{ profile_form.owner_id }}
                </div>
            </div>
            <div class="profile-information2">        
                <label for="id_first_name">First Name:</label>
                <div class="form2">
                    {{ profile_form.first_name }}
                </div>
            </div>
            <div class="profile-information3">        
                <label for="id_last_name">Last Name:</label>
                <div class="form3">
                    {{ profile_form.last_name }}
                </div>
            </div>
            <div class="profile-information4">
                <label for="id_email">Email:</label>
                <div class="form4">
                    {{ profile_form.email }}
                </div>
            </div>
            <div class="profile-information5">
                <label for="id_birthdate">Birthdate:</label>
                <div class="form5">
                    {{ profile_form.birthdate }}
                </div>
            </div>
            <div class="profile-information6">        
                <label for="id_phone_number">Phone Number:</label>
                <div class="form6">
                    {{ profile_form.phone_number }}
                </div>
            </div>
            <div class="profile-information7">        
                <label for="id_country">Country:</label>
                <div class="form7">
                    {{ profile_form.country }}
                </div>
            </div>
            <div class="profile-information8">        
                <label for="id_province">Province:</label>
                <div class="form8">
                    {{ profile_form.province }}
                </div>
            </div>
            <div class="profile-information9">        
                <label for="id_city">City:</label>
                <div class="form9">
                    {{ profile_form.city }}
                </div>
            </div>
            <div class="profile-information10">        
                <label for="id_district">District:</label>
                <div class="form10">
                    {{ profile_form.district }}
                </div>
            </div>
            <div class="profile-information11">        
                <label for="id_postal_code">Postal Code:</label>
                <div class="form11">
                    {{ profile_form.postal_code }}
                </div>
            </div>
            <div class="profile-information12">        
                <label for="id_street">Street Name:</label>
                <div class="form12">
                    {{ profile_form.street }}
                </div>
            </div>
            <div class="profile-information13">
                <label for="id_gender">Gender:</label>
                <div class="form13">
                    {{ profile_form.gender }}
                </div>
            </div>
            <input type="submit" value="Submit" class="btn btn-success" style="margin-top: 40px; margin-left: 270px; margin-bottom: 40px;">
        </form><br><br>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </body>
    </html>
{% endblock %}