{% extends 'basic.html' %}
{% load static %}

{% block content %}
    <head>
        <script src="https://kit.fontawesome.com/9417a4ac8c.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'css/cart-shop-style.css' %}">
    </head>

    <body>
        <div class="cart">
            <div class="container">
                <div class="card-title">
                    <div class="cart-title-product">
                        {% if owner %}
                            {% for data in owner %}
                                {% if forloop.first %}
                                    <div class="instruction">
                                        <p class="user">{{ data.user }},</p>
                                        <p>Checkout list produk yang akan kamu beli sekarang juga!</p>
                                    </div>
                                {% endif %}
                            {% empty %}

                            {% endfor %}
                        {% endif %}

                        <div class="cart-subtitle">
                            <p class="product">Product</p>
                            <p class="units">Unit Price</p>
                            <p class="numbers">Quantity</p>
                            <p class="total-all">Total Price</p>
                            <p>Action</p>
                        </div><hr>
                    </div>
                </div>
                <div class="card-product">
                    <div class="cart-details-product">
                        {% for data in owner %}
                            {% if data.product_smartphone %}
                                <h6><i class="fa-solid fa-store"></i> <a href="{% url 'seller_store' data.product_smartphone.owner.store_name %}">{{ data.product_smartphone.owner }}</a></h6>
                            {% endif %}
                            {% if data.product_food %}
                                <h6><i class="fa-solid fa-store"></i> <a href="{% url 'seller_store' data.product_food.food_owner.store_name %}">{{ data.product_food.food_owner }}</a></h6>
                            {% endif %}
                            <div class="cart-lists">
                                {% if data.product_smartphone %}
                                    <div class="product-smartphone">
                                        <img src="{{ data.product_smartphone.image.url }}">
                                        <p><a href="{% url 'smartphone_show' data.product_smartphone.pk %}">{{ data.product_smartphone|truncatechars:65 }}</a></p>
                                    </div>
                                {% endif %}
                                {% if data.product_food %}
                                    <div class="product-food">
                                        <img src="{{ data.product_food.food_image.url }}">
                                        <p><a href="{% url 'food_show' data.product_food.pk %}">{{ data.product_food|truncatechars:65 }}</a></p>
                                    </div>
                                {% endif %}
                                <div class="product-price" data-id="{{ data.id }}">
                                    Rp.{{ data.formatted_price }}
                                </div>
                                <div class="product-quantity">
                                    <span>{{ data.quantity }}</span>
                                </div>
                                <!-- Input hidden to store the updated quantity value -->
                                <input type="hidden" name="selected_products" value="{{ data.id }}">
                                <input type="hidden" name="quantity{{ data.id }}" id="quantity_input_{{ data.id }}" value="{{ data.quantity }}">
                                <!--  -->
                                <div class="total_price" id="totalPrice{{ data.id }}">
                                    <p>Rp.{{ data.formatted_price }}</p>
                                </div>
                                <div class="product-action">
                                    <form action="{% url 'delete_cart_item' data.id %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-outline-danger">Delete</button>
                                    </form>
                                </div>
                            </div>
                            <form action="{% url 'cart_shop' %}" method="post">
                                {% csrf_token %}
                                
                                <div class="choose">
                                    <input type="checkbox" name="selected_products" value="{{ data.id }}">
                                    <input type="hidden" name="quantity{{ data.id }}" id="quantity_input_{{ data.id }}" value="{{ data.quantity }}">
                                </div>

                                <!-- Input hidden to store the updated quantity value -->
                                <div class="checkout-btn" id="checkout-button">
                                    <button type="submit" name="checkout" class="btn">Checkout</button>
                                </div>
                            </form><hr>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

    </body>
{% endblock %}