{% extends 'basic.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/checkout-product-style.css' %}">

    <body>
        <div class="whole">
            <div class="container">
                <div class="card-title">
                    <div class="cart-title-product">
                        <div class="title-checkout">
                            <h4>Confirm Your Payment</h4>
                        </div>
                        <div class="customer-details">
                            {% for product in product_from_cart %}
                                <p> Recipient: {{ product.user }}</p>
                                <div id="address-container">
                                    <p id="text_address">{{ product.user.street }}, {{ product.user.district }}, {{ product.user.city }}, {{ product.user.province }}, {{ product.user.country }} ({{ product.user.postal_code }})</p>
                                    <textarea id="input_address" name="user_address">{{ product.user.street }}, {{ product.user.district }}, {{ product.user.city }}, {{ product.user.province }}, {{ product.user.country }} ({{ product.user.postal_code }})</textarea>
                                    <button id="saveAddress" onclick="saveAddress()">Save</button>
                                </div>
                                <button id="editAddress" onclick="toggleEdit()">Edit</button>
                            {% endfor %}
                        </div>
                        <div class="customer-contact">
                            {% for product in product_from_cart %}
                                <p id="contact-info"> Contact: {{ product.user.phone_number }} </p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="card-product">
                    <div class="checkout-product">
                        {% for product in product_from_cart %}
                            <div class="head-product">
                                {% if product.product_smartphone %}
                                    <h6 class="product-exists"><i class="fa-solid fa-store"></i> <a href="{% url 'seller_store' product.product_smartphone.owner.store_name %}">{{ product.product_smartphone.owner }}</a></h6>
                                {% endif %}
                                {% if product.product_food %}
                                    <h6 class="product-exists"><i class="fa-solid fa-store"></i> <a href="{% url 'seller_store' product.product_food.food_owner.store_name %}">{{ product.product_food.food_owner }}</a></h6>
                                {% endif %}
                                <h6 class="unit-price">Unit Price</h6>
                                <h6 class="quantity">Quantity</h6>
                                <h6 class="total-price">Total Product Price</h6>
                            </div><hr>

                            <div class="cart-lists">
                                <div class="product-all">
                                    {% if product.product_smartphone %}
                                        <img src="{{ product.product_smartphone.image.url }}">
                                        {{ product.product_smartphone.name|truncatechars:65 }}
                                    {% endif %}
                                    {% if product.product_food %}
                                        <img src="{{ product.product_food.food_image.url }}">
                                        {{ product.product_food.food_name|truncatechars:65 }}
                                    {% endif %}
                                </div>
                                <div class="product-price" data-id="{{ product.id }}">
                                    Rp.{{ product.formatted_price }}
                                </div>
                                <div class="product-quantity">
                                    <button type="button" class="minus" onclick="decreaseQuantity('{{ product.id }}')">-</button>
                                    <button id="quantity{{ product.id }}" class="quantity-now" name="quantity{{ product.id }}" data-product-type="{{ product.categories }}">{{ product.quantity }}</button>
                                    <button type="button" class="plus" onclick="increaseQuantity('{{ product.id }}')">+</button>
                                </div>
                                <!-- Input hidden to store the updated quantity value -->
                                <input type="hidden" name="selected_products" value="{{ product.id }}">
                                <input type="hidden" name="quantity{{ product.id }}" id="quantity_input_{{ product.id }}" value="{{ product.quantity }}">
                                <!--  -->
                                <div class="total_price" id="totalPrice{{ product.id }}">
                                    <p>Rp.{{ product.formatted_price }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="shippingOptions">
                        <p>Opsi Pengiriman:</p>
                        <button id="pilihButton">Choose</button>
                    </div>

                    <!-- Pop Up Form -->
                    <div id="popupForm">
                        <form id="shippingForm" method="POST">
                            {% csrf_token %}
                            <div class="form-1">
                                <!-- nnnnnn -->
                                {% for delivery in shipping_types %}
                                    <div class="chooseTypes">
                                        <input type="radio" name="delivery_type" value="{{ delivery.delivery_type }}">
                                        <label>{{ delivery.delivery_type }}</label>
                                        <span>Rp.{{ delivery.formatted_price }}</span>
                                    </div>
                                    {% if delivery.delivery_type == 'Regular' %}
                                        <div class="estimated">
                                            <p>Estimasi sampai:</p>
                                            <p class="estimation-time">
                                                {% for regular in estimated_time_regular %}
                                                    {{ regular }}
                                                {% endfor %}
                                            </p>
                                        </div>
                                    {% endif %}
                                    {% if delivery.delivery_type == 'Fast' %}
                                        <div class="estimated">
                                            <p>Estimasi sampai:</p>
                                            <p class="estimation-time">
                                                {% for fast in estimated_time_fast %}
                                                    {{ fast }}
                                                {% endfor %}
                                            </p>
                                        </div>
                                    {% endif %}
                                    {% if delivery.delivery_type == 'Cargo' %}
                                        <div class="estimated">
                                            <p>Estimasi sampai:</p>
                                            <p class="estimation-time">
                                                {% for cargo in estimated_time_cargo %}
                                                    {{ cargo }}
                                                {% endfor %}
                                            </p>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <button type="button" id="saveButton">Save</button>
                        </form>
                    </div>
                    <div id="showDelivery">

                    </div><br><br>
                    <div class="payment">
                        <button id="showPaymentButton">Payment</button>
                    </div><br>

                    <div class="totalPayment">
                        
                    </div>

                    <div id="paymentForm">
                        <form id="midtransForm" method="POST">
                            {% csrf_token %}
                            <div class="form-2" id="paymentMethods">

                            </div>
                            <!-- Button to submit the form for Midtrans payment -->
                            <button type="button" id="paymentButton">Bayar</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <script src="{% static 'js/checkout-product.js' %}"></script>
        <script>
            document.getElementById('saveButton').addEventListener('click', function() {
                // Get the value of the selected radio options
                // let selectedValue = document.querySelector('input[name="delivery_type"]:checked').value;
                let selectedValue = document.querySelector('input[name="delivery_type"]:checked');
                // console.log('The selected option:', selectedValue)

                let add = document.getElementById('showDelivery')

                // Close pop up form
                document.getElementById('popupForm').style.display = 'none';
                document.getElementById('pilihButton').style.display = 'block';

                // Get the estimated time based on the selected delivery_type
                let estimatedTime;

                // Show selected delivery option
                if (selectedValue.value === 'Regular') {
                    // console.log('yang dipilih:', selectedValue)
                    let selected = document.querySelector('input[name="delivery_type"]:checked');
                    console.log('The selected:', selected)
                    // Get Formatted Price of the selected delivery type
                    let formattedPrice = selectedValue.nextElementSibling.nextElementSibling.textContent;
                    // console.log('Formatted Price:', formattedPrice);
                    // Get estimated time of the selected delivery_type
                    estimatedTime = "{% for regular in estimated_time_regular %}{{ regular }}{% endfor %}";
                    // Add to html / display on the web
                    add.innerHTML = `<div class="selectedValue">${selected.value}</div> <div class="formattedPrice">${formattedPrice}</div> <div class="estimated-Time"> Estimated Time: </div> <div class="estimatedTime">${estimatedTime}</div>`;
                    // Set the style
                    add.classList.add('showSelectedTypes')
                } else if (selectedValue.value === 'Fast') {
                    // console.log('yang dipilih:', selectedValue)
                    let selected = document.querySelector('input[name="delivery_type"]:checked');
                    console.log('The selected:', selected)
                    // Get Formatted Price of the selected delivery type
                    let formattedPrice = selectedValue.nextElementSibling.nextElementSibling.textContent;
                    // console.log('Formatted Price:', formattedPrice);
                    // Get estimated time of the selected delivery_type
                    estimatedTime = "{% for fast in estimated_time_fast %}{{ fast }}{% endfor %}";
                    // Add to html / display on the web
                    add.innerHTML = `<div class="selectedValue">${selected.value}</div> <span class="formattedPrice">${formattedPrice}</span> <div class="estimated-Time"> Estimated Time: </div> <div class="estimatedTime">${estimatedTime}</div>`;
                    // Set the style
                    add.classList.add('showSelectedTypes')
                } else if (selectedValue.value === 'Cargo') {
                    // console.log('yang dipilih:', selectedValue)
                    let selected = document.querySelector('input[name="delivery_type"]:checked');
                    console.log('The selected:', selected)
                    // Get Formatted Price of the selected delivery type
                    let formattedPrice = selectedValue.nextElementSibling.nextElementSibling.textContent;
                    // console.log('Formatted Price:', formattedPrice);
                    // Get estimated time of the selected delivery_type
                    estimatedTime = "{% for cargo in estimated_time_cargo %}{{ cargo }}{% endfor %}";
                    // Add to html / display on the web
                    add.innerHTML = `<div class="selectedValue">${selected.value}</div> <span class="formattedPrice">${formattedPrice}</span> <div class="estimated-Time"> Estimated Time: </div> <div class="estimatedTime">${estimatedTime}</div>`;
                    // Set the style
                    add.classList.add('showSelectedTypes')
                }
            });

        </script>
    </body>
{% endblock %}