{% extends 'basic.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/customer-profile-style.css' %}">

    <div class="whole-body">
        <div class="container">
            <div class="card">
                <div class="title-profile">
                    <h3>Profile</h3>
                    <p>Manage your profile to secure the secirity of your account</p>
                </div><hr>
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="profile-id">
                        <div class="info-details">
                            <div class="profile-information1">
                                <label for="id_first_name">First Name:</label>
                                <div class="form1">
                                    {{ form.first_name }}
                                </div>
                            </div>
                            <div class="profile-information2"> 
                                <label for="id_last_name">Last Name:</label>
                                <div class="form2">
                                    {{ form.last_name }}
                                </div>
                            </div>
                            <div class="profile-information3">
                                <label for="id_email">Email:</label>
                                <div class="form3">
                                    {{ form.email }}
                                </div>
                            </div>
                            <div class="profile-information4">
                                <label for="id_birthdate">Birthdate:</label>
                                <div class="form4">
                                    {{ form.birthdate }}
                                </div>
                            </div>
                            <div class="profile-information5">
                                <label for="id_phone_number">Phone Number:</label>
                                <div class="form5">
                                    {{ form.phone_number }}
                                </div>
                            </div>
                            <div class="profile-information6">        
                                <label for="id_country">Country:</label>
                                <div class="form6">
                                    {{ form.country }}
                                </div>
                            </div>
                            <div class="profile-information7">        
                                <label for="id_province" style="flex-grow: 1; padding-bottom: 40px">Province:</label>
                                <div class="form7">
                                    {{ form.province }}
                                </div>
                            </div>
                            <div class="profile-information8">        
                                <label for="id_city">City:</label>
                                <div class="form8">
                                    {{ form.city }}
                                </div>
                            </div>
                            <div class="profile-information9">        
                                <label for="id_district">District:</label>
                                <div class="form9">
                                    {{ form.district }}
                                </div>
                            </div>
                            <div class="profile-information10">        
                                <label for="id_postal_code">Postal Code:</label>
                                <div class="form10">
                                    {{ form.postal_code }}
                                </div>
                            </div>
                            <div class="profile-information11">        
                                <label for="id_street">Street Name:</label>
                                <div class="form11">
                                    {{ form.street }}
                                </div>
                            </div>
                            <div class="profile-information12">
                                <label for="id_gender">Gender:</label>
                                <div class="form12">
                                    {{ form.gender }}
                                </div>
                            </div>
                        </div><br>
                        <div class="picture-profile-section">
                            <h4>Change Profile Picture</h4>
                            {% if form.instance.image %}
                                <div class="profile-image-container">
                                    <img src="{{ form.instance.image.url }}" class="size-profile-picture">
                                    <div class="image-overlay">
                                        <label for="file-upload" class="view-image">Change Picture</label>
                                        <input type="file" id="file-upload" name="image" accept="image/*">
                                    </div>
                                </div>
                            {% endif %}<br><br><hr><br>
                            <div class="button-profile">
                                <div class="customer-logout">
                                    <a href="{% url 'logout_user' %}" class="btn btn-danger">Logout</a>
                                </div>
                                <div class="seller-login">
                                    <a href="{% url 'add_seller_profile' %}" class="btn btn-primary">Login as Seller</a>
                                </div>
                            </div>
                        </div>
                    </div><br>
                    <div class="button-save">
                        <div class="button-position">
                            <a href="{% url 'customerProfile' %}"><input type="submit" value="Save" class="btn btn-success"></a>
                        </div>
                    </div>
                </form><br>
            </div>
        </div>
    </div>

    <script src="{% static 'js/customer-profile-function.js' %}"></script>
{% endblock %}