{% extends 'basic.html' %}
{% load static %}

{% block content %}
    {% if submitted %}
        {% if messages %}
            {% for message in messages %}
                <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
                    <symbol id="info-fill" viewbox="0 0 16 16">
                        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.2461-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                    </symbol>
                </svg>
                <div class="alert alert-success d-flex align-items-center" role="alert">
                    <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                    <div>
                        <strong>{{ message }}</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    {% else %}<br>
        <div class="container">
            <div class="category-tipe" onclick="showAllProducts()">All</div>
            {% for category in product %}
                {% if category.categories == 'Smartphone' or category.categories == 'Foods' %}
                    <div class="category-tipe" onclick="showProducts(this, '{{ category.categories }}')">
                        {{ category.categories }}
                    </div>
                {% endif %}
            {% endfor %}<br>
            <div class="flex-container" id="randomProducts">
                {% for gadget in smartphone %}
                    <div class="item smartphone-product">
                        <img src="{{ gadget.image.url }}" style="width: 201px; height: 170px;">
                        <div class="product-title" style="height: 90px; width: 195px;">
                            <h6> <a href="{% url 'smartphone_show' gadget.id %}" style="text-decoration: none; color: black;"> {{ gadget.name|truncatechars:45 }} </a> </h6>
                        </div>
                        <h5 style="color: rgba(0, 136, 226, 0.932); padding-left: 14px;"> Rp.{{ gadget.formatted_price }} </h5>
                        <div class="seller" style="display: flex; margin-left: 10px; margin-bottom: 20px;">
                            <img src="{{ gadget.owner.image.url }}" style="width: 20px; height: 20px; margin-right: 5px;">
                            <h6> {{ gadget.owner.store_name }} </h6>
                        </div>
                        <br>
                        <a href="{% url 'edit_product_smartphone' gadget.id %}" class="btn btn-warning">Edit Product</a>
                    </div>
                {% endfor %}
                {% for makanan in food %}
                    <div class="item food-product">
                        <img src="{{ makanan.food_image.url }}" style="width: 201px; height: 170px;">
                        <div class="product-title" style="height: 90px; width: 195px;">
                            <h6> <a href="{% url 'food_show' makanan.id %}" style="text-decoration: none; color: black;"> {{ makanan.food_name|truncatechars:45 }} </a> </h6>
                        </div>
                        <h5 style="color: rgba(0, 136, 226, 0.932); padding-left: 14px;"> Rp.{{ makanan.formatted_price }} </h5>
                        <div class="seller" style="display: flex; margin-left: 10px; margin-bottom: 20px;">
                            <img src="{{ makanan.food_owner.image.url }}" style="width: 20px; height: 20px; margin-right: 5px;">
                            <h6> {{ makanan.food_owner.store_name }} </h6>
                        </div>
                        <br>
                        <a href="{% url 'edit_product_food' makanan.id %}" class="btn btn-warning">Edit Product</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <style>
        .container {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
        }

        .flex-container {
            display: flex;
            flex-wrap: wrap;
            width: 1950px;
        }

        .item {
            width: calc(20% - 20px);
            margin: 10px;
            padding: 0px;
            border: 1px solid #ccc;
        }

        .category-tipe {
            display: inline-block;
            border-radius: 15px;
            text-decoration: none;
            padding: 10px 20px;
            color: black;
            background-color: white;
            border: 2px solid black;
            width: 190px;
            margin-right: 7px;
            text-align: center;
            cursor: pointer;
        }

        .category-tipe:hover {
            background-color: rgb(20, 19, 19);
            color: rgba(247, 238, 238, 0.897);
        }

        .category-tipe.selected {
            background-color: rgb(112,52,87);
            color: rgba(247, 238, 238, 0.897);
        }
    </style>

    <script>
        function showProducts(element, category) {
            let smartphoneProducts = document.querySelectorAll('.smartphone-product')
            let foodProducts = document.querySelectorAll('.food-product')

            // Remove 'mark' on selected product categories when choose other category
            let categories = document.querySelectorAll('.category-tipe')
            categories.forEach(function(cat) {
                cat.classList.remove('selected');
            })

            // Add 'selected' class to the choosen category
            element.classList.add('selected');

            if (category === 'Smartphone') {
                smartphoneProducts.forEach(function(product) {
                    product.style.display = 'block'
                })
                foodProducts.forEach(function(product) {
                    product.style.display = 'none'
                })
            } else if (category === 'Foods') {
                smartphoneProducts.forEach(function(product) {
                    product.style.display = 'none'
                })
                foodProducts.forEach(function(product) {
                    product.style.display = 'block'
                })
            }
        }

        function showAllProducts() {
            let allProducts = document.querySelectorAll('.item')
            allProducts.forEach(function(product) {
                product.style.display = 'block'
            })

            // Remove mark on selected category when user click 'All'
            let categories = document.querySelectorAll('.category-tipe');
            categories.forEach(function(cat) {
                cat.classList.remove('selected');
            })
        }

        function shuffleProducts() {
            let container = document.getElementById('randomProducts')
            for (let i = container.children.length; i >= 0; i--) {
                container.appendChild(container.children[Math.random() * i | 0]);
            }
        }

        shuffleProducts()

    </script>
{% endblock %}