{% extends 'basic.html' %}
{% load static %}

{% block content %}
    <head>
        <script src="https://kit.fontawesome.com/9417a4ac8c.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'css/product-smartphone-list-style.css' %}">
    </head>

    <body>
        <div class="whole-body">
            <div class="container">
                <div class="card">
                    <div class="product-id">
                        <div class="title-text">
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                            <h4> {{ list_product_smartphone.name }} </h4>
                            <div class="card-price">
                                <h3> Rp.{{ list_product_smartphone.formatted_price }} </h3>
                            </div>
                        
                            <div class="owner-shop">
                                <img src="{{ list_product_smartphone.owner.image.url }}">
                                <div>
                                    <h5>{{ list_product_smartphone.owner }}</h5>
                                    <div class="visit-store">
                                        <a href="{% url 'seller_store' list_product_smartphone.owner.store_name %}" class="btn"><i class="fa-solid fa-store"></i> Visit Store</a>
                                        <form method="post" action="{% url 'smartphone_show' smartphone_id=list_product_smartphone.pk %}">
                                            {% csrf_token %}
                                            <button type="submit" name="add_to_cart" class="btn">Add to Cart <i class="fa-solid fa-cart-shopping"></i></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-pic">
                            <img src="{{ list_product_smartphone.image.url }}">
                        </div>
                    </div>
                </div><br>
                <div class="card2">
                    <div class="card-sub-title">
                        <h3>Product Specifications</h3>
                    </div>
                    <div class="specification-pos">
                        <h6>Category:</h6> <p>{{ list_product_smartphone.categories }}</p>
                    </div>
                    <div class="specification-pos">
                        <h6>Brand:</h6> <p>{{ list_product_smartphone.brand }}</p>
                    </div>
                    <div class="specification-pos">
                        <h6>Memory:</h6> <p>{{ list_product_smartphone.memory_capacity }}</p>
                    </div>
                    <div class="specification-pos">
                        <h6>Ram:</h6> <p>{{ list_product_smartphone.ram_capacity }}</p>
                    </div>
                    <div class="specification-pos">
                        <h6>Stock:</h6> <p>{{ list_product_smartphone.stock }}</p>
                    </div>
                    <div class="specification-pos">
                        <h6>Garansi:</h6> <p>{{ list_product_smartphone.warranty_period }}</p>
                    </div>
                    <div class="specification-pos">
                        <h6>Condition:</h6> <p>{{ list_product_smartphone.condition }}</p>
                    </div>
                    <div class="card-sub-title">
                        <h3>Product Description</h3>
                    </div>
                    <div class="product-description">
                        <p>{{ list_product_smartphone.description }}</p>
                    </div>
                </div><br>
                <div class="card-review">
                    <div class="card-sub-title">
                        <h3>Review Product:</h3>
                    </div>
                    <div class="review-style">
                        <div>
                            {% for comment in review_smartphone %}
                                <div class="review-owner">
                                    <img src="{{ comment.user.image.url }}">
                                    <div class="comment-content">
                                        <h6>{{ comment.user.first_name }} {{ comment.user.last_name }}</h6>
                                        <p class="created-time">{{ comment.created_at }}</p>
                                        <p class="comment-product">{{ comment.smartphone }}</p>
                                        <p class="comment-text">{{ comment.text }}</p>
                                        <img src="{{ comment.pictures.url }}">
                                    </div>
                                </div>
                                {% for picture in comment.pictures.all %}
                                    <img src="{{ picture.url }}" alt="Comment-Picture">
                                {% endfor %}
                            {% empty %}
                                <h5>No comments yet</h5>
                            {% endfor %}
                        </div>
                        <div class="add-review">
                            <input type="button" id="add-review-button" value="Add Review">
                        </div>
                        <br>
                        <div id="comment-form-container">
                            <h4>Add a comment:</h4>
                            <form id="comment-form" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}

                                <div class="user-review">
                                    <p>User:</p>{{ comment_smartphone_form.user }}
                                </div>
                                <div class="smartphone-review">
                                    <p>Product:</p>{{ comment_smartphone_form.smartphone }}
                                </div>
                                <div class="text-review">
                                    <p>Review:</p>{{ comment_smartphone_form.text }}
                                </div>
                                <div class="pictures-review">
                                    <p>Add Picture:</p> {{ comment_smartphone_form.pictures }}
                                </div>

                                <!-- {% for picture in picture_formset %}
                                    <div class="pictures-review" style="display: block;">
                                        {{ picture.pictures }}
                                    </div>
                                {% endfor %} -->

                                <!-- <div class="pictures-review" style="display: block;">
                                    {{ picture_formset.pictures }}
                                </div> -->
                                <br><br>
                                <input type="Submit" value="Add" class="btn-add"></input>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="{% static 'js/product-smartphone-list-function.js' %}"></script>
    </body>
{% endblock %}