{% extends 'basic.html' %}
{% load static %}

{% block content %}
    <head>
        <link rel="stylesheet" href="{% static 'css/product-add-style.css' %}">
        <script src="https://kit.fontawesome.com/9417a4ac8c.js" crossorigin="anonymous"></script>
    </head>
    <div class="container">
        <div class="title-add-product">
            <h2> Add Product </h2>
        </div><br>
        <div class="product-information1">
            <label for="id_product_category">Product Category:</label>
            <div class="form1">
                {{ product_add.categories }}
                <i class="fa-solid fa-angle-down"></i>
            </div>
        </div>
        <form action="" class="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <div id="smartphoneForm">
                <div class="smartphone-information1">        
                    <label for="id_smartphone_name">Smartphone Name:</label>
                    <div class="form2">
                        {{ smartphone_add.name }}
                    </div>
                </div>
                <div class="smartphone-information2">        
                    <label for="id_smartphone_image">Product Picture:</label>
                    <div class="form3">
                        {{ smartphone_add.image }}
                    </div>
                </div>
                <div class="smartphone-information3">        
                    <label for="id_smartphone_price">Price:</label>
                    <div class="form4">
                        {{ smartphone_add.price }}
                    </div>
                </div>
                <div class="smartphone-information4">
                    <label for="id_smartphone_memory">Memory Capacity:</label>
                    <div class="form5">
                        {{ smartphone_add.memory_capacity }}
                    </div>
                </div>
                <div class="smartphone-information5">
                    <label for="id_smartphone_ram">RAM Capacity:</label>
                    <div class="form6">
                        {{ smartphone_add.ram_capacity }}
                    </div>
                </div>
                <div class="smartphone-information6">
                    <label for="id_smartphone_warranty">Warranty Period:</label>
                    <div class="form7">
                        {{ smartphone_add.warranty_period }}
                    </div>
                </div>
                <div class="smartphone-information7">
                    <label for="id_smartphone_stock">Stock:</label>
                    <div class="form8">
                        {{ smartphone_add.stock }}
                    </div>
                </div>
                <div class="smartphone-information8">
                    <label for="id_smartphone_seller_Address">Seller Address:</label>
                    <div class="form9">
                        {{ smartphone_add.seller_Address }}
                    </div>
                </div>
                <div class="smartphone-information9">
                    <label for="id_smartphone_condition">Condition:</label>
                    <div class="form10">
                        {{ smartphone_add.condition }}
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                </div>
                <div class="smartphone-information10">
                    <label for="id_smartphone_brand">Brand:</label>
                    <div class="form11">
                        {{ smartphone_add.brand }}
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                </div>
                <div class="smartphone-information11">
                    <label for="id_smartphone_description">Description:</label>
                    <div class="form12">
                        {{ smartphone_add.description }}
                    </div>
                </div><br>
                <div class="smartphone-information12">
                    <label for="id_smartphone_owner">Owner:</label>
                    <div class="form13">
                        {{ smartphone_add.owner }}
                    </div>
                </div>
                <div class="smartphone-information13">
                    <label for="id_smartphone_categories">Category:</label>
                    <div class="form14">
                        {{ smartphone_add.categories }}
                    </div>
                </div>
                <a href="{% url 'homepage' %}" class="btn btn-danger">Cancel</a>
                <input type="submit" value="Submit" name="smartphone-form" class="btn btn-success">
            </div>
        </form>
        <form action="" class="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <div id="foodForm">
                <div class="food-information1">        
                    <label for="id_food_name">Food Name:</label>
                    <div class="form15" name="food-name">
                        {{ food_add.food_name }}
                    </div>
                </div>
                <div class="food-information2">        
                    <label for="id_food_image">Product Picture:</label>
                    <div class="form16">
                        {{ food_add.food_image }}
                    </div>
                </div>
                <div class="food-information3">        
                    <label for="id_food_price">Price:</label>
                    <div class="form17">
                        {{ food_add.food_price }}
                    </div>
                </div>
                <div class="food-information4">
                    <label for="id_food_storage-period">Masa Penyimpanan:</label>
                    <div class="form18">
                        {{ food_add.storage_period }}
                    </div>
                </div>
                <div class="food-information5">
                    <label for="id_food_storage-condition">Kondisi Penyimpanan:</label>
                    <div class="form19">
                        {{ food_add.storage_condition }}
                    </div>
                </div>
                <div class="food-information6">
                    <label for="id_food_product-weight">Berat Produk:</label>
                    <div class="form20">
                        {{ food_add.product_weight }}
                    </div>
                </div>
                <div class="food-information7">
                    <label for="id_food_number-product">Jumlah Product:</label>
                    <div class="form21">
                        {{ food_add.number_product }}
                    </div>
                </div>
                <div class="food-information8">
                    <label for="id_food_stock">Stock:</label>
                    <div class="form22">
                        {{ food_add.food_stock }}
                    </div>
                </div>
                <div class="food-information9">
                    <label for="id_food_seller-Address">Sent From:</label>
                    <div class="form23">
                        {{ food_add.food_seller_Address }}
                    </div>
                </div>
                <div class="food-information10">
                    <label for="id_food_owner">Brand:</label>
                    <div class="form24">
                        {{ food_add.food_owner }}
                    </div>
                </div>
                <div class="food-information11">
                    <label for="id_food_description">Description:</label>
                    <div class="form25">
                        {{ food_add.food_description }}
                    </div>
                </div><br>
                <div class="food-information12">
                    <label for="id_food_categories">Category:</label>
                    <div class="form26">
                        {{ food_add.food_categories }}
                    </div>
                </div>
                <a href="{% url 'homepage' %}" class="btn btn-danger">Cancel</a>
                <input type="submit" value="Submit" name="food-form" class="btn btn-success">
            </div>
        </form>
    </div>

    <script  src="{% static 'js/product-add-function.js' %}"></script>
{% endblock %}


