{% extends 'basic.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/product-food-list-style.css' %}">

    <body>
        <div class="whole-body">
            <div class="container">
                <div class="card">
                    <div class="product-id">
                        <div class="title-text">
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                            <h4> {{ list_product_food.food_name }} </h4>
                            <div class="card-price">
                                <h3> Rp.{{ list_product_food.formatted_price }} </h3>
                            </div>
                            <div class="owner-shop">
                                <img src="{{ list_product_food.food_owner.image.url }}">
                                <div>
                                    <h5>{{ list_product_food.food_owner }}</h5>
                                    <div class="visit-store">
                                        <a href="{% url 'seller_store' list_product_food.food_owner.store_name %}" class="btn"><i class="fa-solid fa-store"></i> Visit Store</a>
                                        <form method="post" action="{% url 'food_show' food_id=list_product_food.pk %}">
                                            {% csrf_token %}
                                            <button type="submit" name="add_to_cart" class="btn">Add to Cart <i class="fa-solid fa-cart-shopping"></i></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-pic">
                            <img src="{{ list_product_food.food_image.url }}">
                        </div>
                    </div>
                </div>
                <div class="card2">
                    <div class="card-sub-title">
                        <h3>Product Specifications</h3>
                    </div>
                    <div class="spesification-pos">
                        <h6>Category:</h6> <p>{{ list_product_food.food_categories }}</p>
                    </div>
                    <div class="spesification-pos">
                        <h6>Masa Penyimpanan:</h6> <p>{{ list_product_food.storage_period }}</p>
                    </div>
                    <div class="spesification-pos">
                        <h6>Kondisi Penyimpanan:</h6> <p>{{ list_product_food.storage_condition }}</p>
                    </div>
                    <div class="spesification-pos">
                        <h6>Berat Produk:</h6> <p>{{ list_product_food.product_weight }}</p>
                    </div>
                    <div class="spesification-pos">
                        <h6>Jumlah Produk:</h6> <p>{{ list_product_food.number_product }}</p>
                    </div>
                    <div class="spesification-pos">
                        <h6>Stock:</h6> <p>{{ list_product_food.food_stock }}</p>
                    </div>
                    <div class="spesification-pos">
                        <h6>Dikirim dari:</h6> <p>{{ list_product_food.food_seller_Address }}</p>
                    </div>
                    <div class="card-sub-title">
                        <h3>Product Description</h3>
                    </div>
                    <div class="description-text">
                        <p>{{ list_product_food.food_description }}</p>
                    </div>
                </div><br>
                <div class="card-review">
                    <div class="card-sub-title">
                        <h3>Product Review</h3>
                    </div>
                    <div class="review-style">
                        <div>
                            {% for comment in review_food %}
                                <div class="review-owner">
                                    <img src="{{ comment.user.image.url }}">
                                    <div class="comment-content">
                                        <h6>{{ comment.user.first_name }} {{ comment.user.last_name }}</h6>
                                        <p class="created-time">{{ comment.created_at }}</p>
                                        <p class="comment-food">{{ comment.food }}</p>
                                        <p class="comment-text">{{ comment.text }}</p>
                                        <img src="{{ comment.pictures.url }}">
                                    </div>
                                </div>
                                {% for picture in comment.pictures.all %}
                                    <img src="{{ picture.url }}" alt="Comment-Picture">
                                {% endfor %}
                            {% empty %}
                                <h5>No comments yet</h5>
                            {% endfor %}
                        </div><br><br>
                        <div class="add-review">
                            <input type="button" id="add-review-button" style="color: white; width: 100px; height: 40px; border-radius: 10%; background-color: rgb(112,52,87);" value="Add Review">
                        </div>
                        <br>
                        <div id="comment-form-container">
                            <h4>Add a comment:</h4>
                            <form id="comment-form" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}

                                <div class="user-review">
                                    <p>User:</p>{{ comment_food_form.user }}
                                </div>
                                <div class="food-review">
                                    <p>Product:</p>{{ comment_food_form.food }}
                                </div>
                                <div class="text-review">
                                    <p>Review:</p>{{ comment_food_form.text }}
                                </div>
                                <div class="pictures-review">
                                    <p>Add Picture:</p> {{ comment_food_form.pictures }}
                                </div>
                                <br><br>
                                <input type="Submit" value="Add" class="btn-add"></input>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <script src="{% static 'js/product-food-list-function.js' %}"></script>
    </body>
{% endblock %}