{% extends 'basic.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/store-profile-style.css' %}">

    <div class="container">
        <div class="card">
            <div class="seller-shop">
                <img src="{{ store_profile.image.url }}">
                <div class="store-profile">
                    <h5>{{ store_profile.store_name }}</h5>
                </div>
            </div><hr>
        </div>
    </div>
    <div class="container">
        <div class="container-product">
            <div class="flex-container">
                {% for gadget in smartphone %}
                    <div class="item smartphone-product">
                        <img src="{{ gadget.image.url }}">
                        <div class="product-title">
                            <h6><a href="{% url 'smartphone_show' gadget.id %}"> {{ gadget.name|truncatechars:45 }} </a></h6>
                        </div>
                        <h5> Rp.{{ gadget.formatted_price }} </h5>
                        <div class="seller">
                            <img src="{{ gadget.owner.image.url }}">
                            <h6> {{ gadget.owner.store_name }} </h6>
                        </div>
                        <br>
                        <a href="{% url 'edit_product_smartphone' gadget.id %}" class="btn btn-warning">Edit Product</a>
                    </div>
                {% endfor %}
                {% for makanan in food %}
                    <div class="item food-product">
                        <img src="{{ makanan.food_image.url }}">
                        <div class="product-title">
                            <h6> <a href="{% url 'food_show' makanan.id %}"> {{ makanan.food_name|truncatechars:45 }} </a> </h6>
                        </div>
                        <h5> Rp.{{ makanan.formatted_price }} </h5>
                        <div class="seller">
                            <img src="{{ makanan.food_owner.image.url }}">
                            <h6> {{ makanan.food_owner.store_name }} </h6>
                        </div>
                        <br>
                        <a href="{% url 'edit_product_food' makanan.id %}" class="btn btn-warning">Edit Product</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>


{% endblock %}