form .profile-information1, .profile-information0,
.profile-information2, .profile-information3,
.profile-information4, .profile-information5,
.profile-information6, .profile-information7,
.profile-information8, .profile-information9,
.profile-information10, .profile-information11,
.profile-information12, .profile-information13 {
    display: flex;
    align-items: flex-start;
    margin-left: 20px;
    margin-right: 10px;
}

form .profile-information1 label, .profile-information0 label,
.profile-information2 label, .profile-information3 label,
.profile-information4 label, .profile-information5 label,
.profile-information6 label, .profile-information7 label,
.profile-information8 label, .profile-information9 label,
.profile-information10 label, .profile-information11 label,
.profile-information12 label {
    padding-bottom: 40px;
    flex-grow: 1;
}

.profile-information13 label {
    padding-bottom: 10px;
    flex-grow: 1;
}


form .profile-information1 .form1, .profile-information0 .form0,
.profile-information2 .form2, .profile-information3 .form3,
.profile-information4 .form4, .profile-information6 .form6, .profile-information7 .form7,
.profile-information8 .form8, .profile-information9 .form9,
.profile-information10 .form10, .profile-information11 .form11,
.profile-information12 .form12, .profile-information13 .form13 {
    width: 430px;
}

form .profile-information5 .form5 {
    width: 430px;
    margin-left: 20px;
}

/* Custom birthdate form design */
.birthdate-select {
    width: 110px;
    height: 40px;
    margin-right: 9px;
    text-align: center;
}

.birthdate-select:hover {
    border-color:  orange;
}