.cart {
    background-color: rgba(14, 12, 12, 0.959);
    margin-top: -40px;
    margin-bottom: -20px;
}

.cart .container {
    height: auto;
}

.cart .container .card-title {
    width: 1150px;
    height: 90px;
    margin-top: 40px;
    background-color: white;
    margin-bottom: -25px;
}

.cart .container .card-title .cart-title-product {
    margin-left: 20px;
    margin-bottom: 20px;
}

.cart .container .card-title .cart-title-product .instruction {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

.cart .container .card-title .cart-title-product .instruction .user {
    font-weight: 500;
    margin-right: 4px;
}

.cart .container .card-title .cart-title-product .cart-subtitle {
    display: flex;
    font-weight: bold;
    margin-bottom: -20px;
}

.cart .container .card-title .cart-title-product .cart-subtitle .product {
    margin-left: 120px;
    margin-right: 210px;
}

.cart .container .card-title .cart-title-product .cart-subtitle .units {
    margin-right: 85px;
}

.cart .container .card-title .cart-title-product .cart-subtitle .numbers {
    margin-right: 100px;
}

.cart .container .card-title .cart-title-product .cart-subtitle .total-all {
    margin-right: 130px;
}


.cart .container .card-product {
    width: 1150px;
    height: auto;
    margin-top: 40px;
    background-color: white;
}

.cart .container .card-product .cart-details-product {
    margin-left: 0px;
    /* margin-bottom: 20px; */
}

.cart .container .card-product .cart-details-product .cart-lists h6 {
    padding-top: 40px;
    margin-left: 5px;
    display: flex;
}

.cart .container .card-product .cart-details-product .cart-lists h6 i {
    color: rgb(112,52,87);
}

.cart .container .card-product .cart-details-product .cart-lists h6 a {
    text-decoration: none;
    color: rgb(112,52,87);
}


.cart .container .card-product .cart-details-product .cart-lists {
    display: flex;
    margin-bottom: 20px;
    margin-left: 20px;
    width: 1100px;
    background-color: rgb(241, 229, 229);
}

.cart .container .card-product .cart-details-product .cart-lists .product-smartphone, .product-food {
    margin-right: 70px;
    display: flex;
    align-items: flex-start;
    width: 255px;
    height: 80px;
    margin-top: 15px;
    margin-left: 10px;
}

.cart .container .card-product .cart-details-product .cart-lists .product-smartphone img, .product-food img {
    width: 70px;
    height: 60px;
    margin-right: 5px;
    margin-top: 10px;
}

.cart .container .card-product .cart-details-product .cart-lists .product-smartphone p, .product-food p {
    margin-top: 10px;
}

.cart .container .card-product .cart-details-product .cart-lists .product-smartphone p a, .product-food p a {
    text-decoration: none;
    color: black;
}


.cart .container .card-product .cart-details-product .cart-lists .product-price {
    margin-right: 60px;
    margin-top: 35px;
    width: 150px;
    background-color: white;
}

.cart .container .card-product .cart-details-product .cart-lists .product-quantity {
    margin-right: 10px;
    margin-top: 35px;
    width: 100px;
}

.cart .container .card-product .cart-details-product .cart-lists .product-quantity .minus {
    width: 25px;
    height: 30px;
    border-radius: 20%;
    color: rgb(148, 5, 5);
}

.cart .container .card-product .cart-details-product .cart-lists .product-quantity .plus {
    width: 25px;
    height: 30px;
    border-radius: 20%;
    color: blue;
}

.cart .container .card-product .cart-details-product .cart-lists .product-quantity .plus:hover {
    background-color: rgb(29, 14, 236);
    color: white;
}

.cart .container .card-product .cart-details-product .cart-lists .product-quantity .minus:hover {
    background-color: rgb(148, 5, 5);
    color: white;
}

.cart .container .card-product .cart-details-product .cart-lists .product-quantity span {
    width: 30px;
    color: black;
    font-weight: 250;
}


.cart .container .card-product .cart-details-product .cart-lists .total_price {
    margin-top: 35px;
    width: 150px;
    background-color: white;
}

.cart .container .card-product .cart-details-product .cart-lists .total_price p {
    font-weight: 500;
    margin-left: 15px;
}


.cart .container .card-product .cart-details-product .cart-lists .product-action {
    margin-top: 30px;
}

.cart .container .card-product .cart-details-product .cart-lists .product-action .remove-item {
    cursor: pointer;
    color: red;
    margin-left: 20px;
}


.cart .container .card-product .cart-details-product form .choose {
    transform: translateY(-85px);
    margin-left: 2px;
}

.cart .container .card-product .cart-details-product form .checkout-btn {
    text-align: center;
}

.cart .container .card-product .cart-details-product form .checkout-btn button {
    width: 180px;
    height: 40px;
    border-radius: 20px;
    color: white;
    background-color: rgb(112,52,87);
    font-weight: 600;
}


/* Checkout List temporary */
.cart .container .card-product .cart-details-product #checkout-list {
    display: none;
}


/* Buyer Address */
.cart .container .card-product .cart-details-product #checkout-list .cart-title-address {
    margin-left: 1rem;
}

.cart .container .card-product .cart-details-product #checkout-list .cart-title-address .title-address {
    text-align: center;
}

.cart .container .card-product .cart-details-product #checkout-list .cart-title-address .customer-details {
    margin-left: 4rem;
    margin-bottom: 3rem;
}

.cart .container .card-product .cart-details-product #checkout-list .cart-title-address .customer-details .buyer-details-container #input_buyer {
    display: none;
    width: 47rem;
    height: 2rem;
}

.cart .container .card-product .cart-details-product #checkout-list .cart-title-address .customer-details .buyer-details-container #input_contact {
    display: none;
    width: 47rem;
    height: 2rem;
}

.cart .container .card-product .cart-details-product #checkout-list .cart-title-address .customer-details #address-container #input_address {
    display: none;
    width: 47rem;
    height: 7rem;
    margin-bottom: 2rem;
}

/* Save Button */
.cart .container .card-product .cart-details-product #checkout-list .cart-title-address .customer-details #address-container #saveAddress {
    display: none;
    width: 68px;
    height: 30px;
    border-radius: 20%;
    background-color: white;
    color: rgb(112,52,87);
    margin-left: 0.5rem;
    margin-right: 1rem;
}

.cart .container .card-product .cart-details-product #checkout-list .cart-title-address .customer-details #address-container #saveAddress:hover {
    width: 68px;
    height: 30px;
    border-radius: 20%;
    background-color: rgb(112,52,87);
    color: white;
    margin-left: 0.5rem;
    margin-right: 1rem;
}

/* Edit Button */
.cart .container .card-product .cart-details-product #checkout-list .cart-title-address .customer-details #editAddress {
    /* display: block; */
    width: 68px;
    height: 30px;
    border-radius: 20%;
    background-color: white;
    color: rgb(112,52,87);
    margin-left: 0.5rem;
    margin-right: 1rem;
}

.cart .container .card-product .cart-details-product #checkout-list .cart-title-address .customer-details #editAddress:hover {
    width: 68px;
    height: 30px;
    border-radius: 20%;
    background-color: rgb(112,52,87);
    color: white;
    margin-left: 0.5rem;
    margin-right: 1rem;
}


/* Checkout Items */
.cart .container .card-product .cart-details-product #checkout-list .product-details {
    text-align: center;
}


/* Styling for shipping options */
.cart .container .card-product .cart-details-product #shipping-options-container {
    display: none;
    flex-wrap: wrap;
    align-items: flex-start;
}

.cart .container .card-product .cart-details-product #shipping-options-container .shippingOptions {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.cart .container .card-product .cart-details-product #shipping-options-container .shippingOptions .pilihButton {
    width: 68px;
    height: 30px;
    border-radius: 20%;
    background-color: white;
    color: rgb(112,52,87);
    margin-left: 0.5rem;
    margin-right: 1rem;
}

.cart .container .card-product .cart-details-product #shipping-options-container .shippingOptions .pilihButton:hover {
    width: 68px;
    height: 30px;
    border-radius: 20%;
    background-color: rgb(112,52,87);
    color: white;
    margin-left: 0.5rem;
    margin-right: 1rem;
}


/* Form to choose shipping options */
.cart .container .card-product .cart-details-product #shipping-options-container .popUpForm {
    display: none;
}

.cart .container .card-product .cart-details-product #shipping-options-container .popUpForm form {
    margin-left: 1rem;
}

.cart .container .card-product .cart-details-product #shipping-options-container .popUpForm form .form-1 .chooseTypes span {
    font-weight: 600;
}

.cart .container .card-product .cart-details-product #shipping-options-container .popUpForm form .form-1 .estimated {
    display: flex;
}

.cart .container .card-product .cart-details-product #shipping-options-container .popUpForm form .form-1 .estimated .estimation-text {
    margin-right: 0.5rem;
}

.cart .container .card-product .cart-details-product #shipping-options-container .popUpForm form .form-1 .estimated .estimation-time {
    font-weight: 500;
    font-size: 200;
    word-spacing: 0;
}

.cart .container .card-product .cart-details-product #shipping-options-container .popUpForm form .saveButton {
    width: 68px;
    height: 30px;
    border-radius: 20%;
    background-color: white;
    color: rgb(112,52,87);
}

.cart .container .card-product .cart-details-product #shipping-options-container .popUpForm form .saveButton:hover {
    width: 68px;
    height: 30px;
    border-radius: 20%;
    background-color: rgb(112,52,87);
    color: white;
}


/* Adding new style for selected shipping options from Javascript function */
.showSelectedTypes {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.selectedValue {
    margin-right: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

.formattedPrice {
    font-weight: 600;
    color: rgb(175, 2, 2);
    margin-right: 2rem;
}


/* To show estimated Time for the selected shipping options */
.estimated-Time {
    margin-right: 0.5rem;
}

.estimatedTime {
    font-weight: 500;
    font-size: 200;
    word-spacing: 0;
}


/* PAYMENT MIDTRANS BUTTON */
.cart .container .card-product .cart-details-product .payment-option form .payment-button {
    display: none;
    width: 168px;
    height: 30px;
    border-radius: 0%;
    background-color: white;
    color: rgb(112,52,87);
    margin-left: 4rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.cart .container .card-product .cart-details-product .payment-option form .payment-button:hover {
    display: none;
    width: 168px;
    height: 30px;
    border-radius: 0%;
    background-color: rgb(112,52,87);
    color: white;
    margin-left: 4rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}


/* Midtrans Integration Display */
.cart .container .card-product .cart-details-product .payment-method {
    display: none;
    margin-top: 3rem;
    margin-bottom: 4rem;
    margin-left: 24rem;
}


/* Summary Checkout Product Price */
.cart .container .card-product .cart-details-product .summaryCheckout {
    display: none;
    margin-left: 3rem;
    width: 65rem;
    height: auto;
    background-color: rgb(23,22,22);
    font-weight: 500;
}

.cart .container .card-product .cart-details-product .summaryCheckout .productDetailsList {
    display: flex;
}

.cart .container .card-product .cart-details-product .summaryCheckout .productDetailsList .productNumbersText {
    margin-right: 0.4rem;
    margin-left: 3.5rem;
    padding-top: 1.5rem;
    color: rgb(175, 26, 113);
    margin-bottom: 0.5rem;
}

.cart .container .card-product .cart-details-product .summaryCheckout .productDetailsList #productNumbers, #productNames {
    padding-top: 1.5rem;
    color: white;
}

.cart .container .card-product .cart-details-product .summaryCheckout .productDetailsList #productNumbers {
    margin-right: 1rem;
}

.cart .container .card-product .cart-details-product .summaryCheckout .productJumlahList {
    display: flex;
}

.cart .container .card-product .cart-details-product .summaryCheckout .productJumlahList .totalProductText {
    margin-right: 0.4rem;
    margin-left: 3.5rem;
    padding-top: 1.5rem;
    color: rgb(175, 26, 113);
    margin-bottom: 0.5rem;
}

.cart .container .card-product .cart-details-product .summaryCheckout .productJumlahList #totalProducts {
    padding-top: 1.5rem;
    color: white;
}

.cart .container .card-product .cart-details-product .summaryCheckout .totalCostList {
    display: flex;
}

.cart .container .card-product .cart-details-product .summaryCheckout .totalCostList .totalCostText {
    margin-right: 0.4rem;
    margin-left: 3.5rem;
    padding-top: 1.5rem;
    color: rgb(175, 26, 113);
    margin-bottom: 0.5rem;
}

.cart .container .card-product .cart-details-product .summaryCheckout .totalCostList #totalCost {
    padding-top: 1.5rem;
    color: white;
}


/* Warning to choose the delivery option */
.cart .container .card-product .cart-details-product .summaryCheckout #delivery-warning {
    display: none;
    padding-top: 3rem;
    padding-bottom: 2rem;
    /* margin-left: 9rem; */
    text-align: center;
    color: red;
}

.cart .container .card-product .cart-details-product .summaryCheckout #delivery-warning .warning-text {
    color: red;
}


/* Checkout Button */
.cart .container .card-product .cart-details-product .checkoutButton {
    text-align: center;
    margin-top: 2rem;
}

.cart .container .card-product .cart-details-product .checkoutButton .checkout-button {
    display: none;
    width: 8rem;
    height: 2rem;
    border-radius: 20%;
    background-color: white;
    color: rgb(112,52,87);
    margin-bottom: 2rem;
    text-align: center;
    margin-left: 32rem;
}

.cart .container .card-product .cart-details-product .checkoutButton .checkout-button:hover {
    display: none;
    width: 8rem;
    height: 2rem;
    border-radius: 20%;
    background-color: rgb(112,52,87);
    color: white;
    margin-bottom: 2rem;
    text-align: center;
    margin-left: 32rem;
}


/* When the button in disabled mode */
.cart .container .card-product .cart-details-product .checkoutButton .checkout-button.disabled {
    background-color: #999;
    cursor: not-allowed;
    color: white;
    margin-bottom: 2rem;
}